backend/build/
backend/out/
android/app/.idea
android/app/build
/android/app/.idea
/android/app/local.properties
/android/.idea
/backend/.idea
/backend/build
/Mondelez-LoyaltyWebAdmin/.idea
/backend/.gradle
/lwWebAdmin/.idea
/lwWebAdmin/target
*.DS_Store
/android/app/release
