<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.livingworld">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.SplashScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.IntroActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.RegistrationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.BAMActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.BAMRegistrationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.InboxActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.InboxDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.PaymentMethodActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.MyQRCodeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.ConfirmationBillActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.PinActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.ECashConnectActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.MyCarActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.MyCarAddActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.AccountSettingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.TrxHistoryActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.LanguageChoiceActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.CurrentOffersActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.CurrentOffersDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.AboutUSActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.GiveUsFeedbackActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.InformationAccountActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.ChangePasswordActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.ContactUSActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.CurrentOfferActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>