{% extends "layout/master" %}

{% block css %}
<!-- bootstrap-wysiwyg -->
<link href="/res/vendors/google-code-prettify/bin/prettify.min.css" rel="stylesheet">
<!-- Select2 -->
<link href="/res/vendors/select2/dist/css/select2.min.css" rel="stylesheet">
<!-- Switchery -->
<link href="/res/vendors/switchery/dist/switchery.min.css" rel="stylesheet">
<!-- starrr -->
<link href="/res/vendors/starrr/dist/starrr.css" rel="stylesheet">
<!-- bootstrap-daterangepicker -->
<link href="/res/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
{% endblock %}

{% block js %}
<!-- bootstrap-daterangepicker -->
<script src="/res/vendors/moment/min/moment.min.js"></script>
<script src="/res/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
<!-- bootstrap-wysiwyg -->
<script src="/res/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
<script src="/res/vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
<script src="/res/vendors/google-code-prettify/src/prettify.js"></script>
<!-- jQuery Tags Input -->
<script src="/res/vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script>
<!-- Switchery -->
<script src="/res/vendors/switchery/dist/switchery.min.js"></script>
<!-- Select2 -->
<script src="/res/vendors/select2/dist/js/select2.full.min.js"></script>
<!-- Parsley -->
<script src="/res/vendors/parsleyjs/dist/parsley.min.js"></script>
<!-- Autosize -->
<script src="/res/vendors/autosize/dist/autosize.min.js"></script>
<!-- jQuery autocomplete -->
<script src="/res/vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
<!-- starrr -->
<script src="/res/vendors/starrr/dist/starrr.js"></script>

{% endblock %}