{% extends "layout/table" %}

{% block content %}
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2> {{ title }}
            </h2>
            <!--<ul class="nav navbar-right panel_toolbox">-->
                <!--<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>-->
                <!--</li>-->
                <!--<li class="dropdown">-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i-->
                            <!--class="fa fa-wrench"></i></a>-->
                    <!--<ul class="dropdown-menu" role="menu">-->
                        <!--<li><a href="#">Settings 1</a>-->
                        <!--</li>-->
                        <!--<li><a href="#">Settings 2</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</li>-->
                <!--<li><a class="close-link"><i class="fa fa-close"></i></a>-->
                <!--</li>-->
            <!--</ul>-->
            <a class="nav navbar-right panel_toolbox" href="{{ basePath }}/current-offer/create">
                <button type="button" class="btn btn-primary">Create Current Offer</button>
            </a>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">

            <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap"
                   cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>No</th>
                    <th>Title</th>
                    <th>Short Description</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Create Date</th>
                </tr>
                </thead>
                <tbody>
                {% for co in currentOffers %}
                <tr>
                    <td>{{ loop.index + 1 }}</td>
                    <td>{{ co.title }}</td>
                    <td>{{ co.shortDescription}}</td>
                    <td>{{ co.startDate }}</td>
                    <td>{{ co.endDate }}</td>
                    <td>{{ co.createAt }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>


        </div>
    </div>
</div>
{% endblock %}